@page
@model RazorMegaDesk.Pages.DeskQuotes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Deskquote</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deskquote.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deskquote.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deskquote.QuoteDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deskquote.QuoteDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deskquote.Width)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deskquote.Width)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deskquote.Depth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deskquote.Depth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deskquote.DrawerCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deskquote.DrawerCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deskquote.DesktopMaterial)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deskquote.DesktopMaterial)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deskquote.RushDays)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deskquote.RushDays)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deskquote.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deskquote.Cost)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-outline-warning" asp-page="./Edit" asp-route-id="@Model.Deskquote.ID">Edit</a> |
    <a class="btn btn-outline-info" asp-page="./Index">Back to List</a>
</div>
