@model IEnumerable<SacramentPlanner.Models.Hymns>

@{
    ViewData["Title"] = "Index";
}
<h1 class="mt-5 text-center mb-4">Hymn List</h1>
<form asp-controller="Hymns" asp-action="Index" method="get" class="mininav"> 
        <a class="btn btn-primary mini-create-hymn" asp-action="Create">Create New</a>
        <input class="mini-search-hymn" type="text" name="SearchWord" placeholder="Title" />
        <input type="submit" class="btn btn-primary mini-filter-hymn text-light" value="Filter" />
        <a class="btn btn-outline-primary mini-back-hymn" asp-action="Index">View All</a>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" aria-label="Edit" asp-route-id="@item.Id">
                    <i class="far fa-edit me-4 text-center dark" aria-hidden="true"></i>
                </a>
                <a asp-action="Details" aria-label="Details" asp-route-id="@item.Id">
                    <i class="fas fa-info me-4 text-center dark" aria-hidden="true"></i>
                </a>
                <a asp-action="Delete" aria-label="Delete" asp-route-id="@item.Id">
                    <i class="far fa-trash-alt me-4 text-center dark" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table> 