@model IEnumerable<SacramentPlanner.Models.Hymns>

@{
    ViewData["Title"] = "Index";
}

<h1 class="mt-5">Hymn List</h1>
<form asp-controller="Hymns" asp-action="Index" method="get">
    <p>
        Search Title<input type="text" name="SearchWord" />
        <input type="submit" class="btn btn-primary mx-2 text-light" value="Filter" />
        <a class="btn btn-outline-primary" asp-action="Index">Back to Full List</a>
        <a class="btn btn-outline-primary" asp-action="Create">Create New</a>

    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Num)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit me-4 text-center dark"></i></a>
                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info me-4 text-center dark"></i></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt me-4 text-center dark"></i></a>
            </td>
        </tr>
}
    </tbody>
</table> 