@model SacramentPlanner.Models.Plan

@{
    ViewData["Title"] = "Details";
}

    <h2 class="mt-5">Details</h2>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">........
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conductor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conductor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningSong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpeningSong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpeningPrayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SacramentSong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SacramentSong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IntermediateSong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IntermediateSong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingSong)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingSong)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingPrayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpeakerSubjects)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpeakerSubjects)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Speakers)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Speaker Name</th>
                    <th>Actions</th>
                </tr>
                @foreach (var item in Model.Speakers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            <a asp-controller="Speakers" asp-action="Edit" class="btn btn-info" asp-route-id="@item.ID">Edit</a>
                            <a asp-controller="Speakers" asp-action="Delete" class="btn btn-info" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" class="btn btn-info" asp-route-id="@Model.Id">Edit</a>
        <a asp-controller="Speakers" asp-action="Create" class="btn btn-info" asp-route-planId="@Model.Id">Add Speaker</a>
        <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
    </div>
