@model IEnumerable<SacramentPlanner.Models.Plan>

@{
    ViewData["Title"] = "Sacrament Meeting Planner";
}

<h1 class="text-center mb-3 mt-5 ">Sacrament Meeting Planner</h1>

<div class="pcard">

    <form class="text-center mt-3 mb-3" asp-controller="Plans" asp-action="Index" method="get">

        <a class="btn btn-primary float-start" asp-action="Create">Create New Plan</a>
        <span class="float-end mx-2">
            <input type="text" name="SearchString"  placeholder="Subject" />
            <input class="btn btn-primary mx-2 text-light" type="submit" value="Filter" />
        </span>

    </form>

</div>

<hr />
<div class="container pcard ">
    <div class="card-deck mt-2">

        @foreach (var item in Model)
        {
            <div class="card col-sm-6  custom-card">
                <div class="card-body">
                    <h5 class="card-header text-center text-light"> @Html.DisplayFor(modelItem => item.Date)</h5>
                    <p class="card-text"> @Html.DisplayNameFor(model => model.SpeakerSubjects) :  @Html.DisplayFor(modelItem => item.SpeakerSubjects)</p>
                    @foreach (var speaker in item.Speakers)
                    {
                    <p class="card-text">@Html.DisplayFor(modelItem => speaker.FullName)</p>

                    }

                </div>
                <div class="card-footer text-center">
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="far fa-edit me-4 text-center dark"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info me-4 text-center dark"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="far fa-trash-alt me-4 text-center dark"></i></a>
                </div>
            </div>
        }

    </div>
</div>
<a class="btn btn-outline-primary" asp-action="Index">Back to Full List</a>
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conductor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpeningPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntermediateSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeakerSubjects)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberSpeakers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>*@
@*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conductor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningSong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpeningPrayer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SacramentSong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IntermediateSong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingSong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClosingPrayer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpeakerSubjects)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberSpeakers)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>*@

@*    </tbody>
    </table>*@
