@model IEnumerable<SacramentPlanner.Models.Plan>

@{
    ViewData["Title"] = "Sacrament Meeting Planner";
}

<h1 class="text-center mb-3 mt-5 ">Sacrament Meeting Planner</h1>
<div class="pcard">
    <form class="text-center mt-3 mb-3" asp-controller="Plans" asp-action="Index" method="get">
        <a class="btn btn-primary float-start" asp-action="Create">Create New Plan</a>
        <span class="float-end mx-2">
            <input type="text" name="SearchString" placeholder="Subject" />
            <input class="btn btn-primary mx-2 text-light" type="submit" value="Filter" />
            <a class="btn btn-primary mx-2 text-light" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Sort By Date</a>
        </span>
    </form>
</div>
<hr />
<div class="container pcard">
    <div class="card-deck mt-2">
        @foreach (var item in Model)
        {
            <div class="card col-sm-6 custom-card">
                <div class="card-body">
                    <h5 class="card-header text-center text-light"> @Html.DisplayFor(modelItem => item.Date)</h5>

                    <div class="d-grid">
                        <div class="row custom-row">
                            <p class="card-subject"> @Html.DisplayNameFor(model => model.SpeakerSubjects) :</p>
                            <p class="card-detail card-speakers-subject"> @Html.DisplayFor(modelItem => item.SpeakerSubjects)</p>
                        </div>
                        <hr />
                        <div class="row custom-row">
                            <p class="card-subject card-speakers-title">Speakers: </p>
            
                            @foreach (var speaker in item.Speakers)
                            {
                        <p class="card-detail card-speakers">@Html.DisplayFor(modelItem => speaker.FirstMidName) @Html.DisplayFor(modelItem => speaker.LastName)</p>

                            }
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Edit" aria-label="Edit" asp-route-id="@item.Id">
                        <i class="far fa-edit me-4 text-center dark" aria-hidden="true"></i>
                    </a>
                    <a asp-action="Details" aria-label="Details" asp-route-id="@item.Id">
                        <i class="fas fa-info me-4 text-center dark" aria-hidden="true"></i>
                    </a>
                    <a asp-action="Delete" aria-label="Delete" asp-route-id="@item.Id">
                        <i class="far fa-trash-alt me-4 text-center dark" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        }
    </div>
    <a class="btn btn-outline-primary" asp-action="Index">Back  Full List</a>
</div>
