@model SacramentPlanner.Models.Plan

@{
    ViewData["Title"] = "Print";
}

<h2 class="mt-5 hidden-print">Print Preview</h2>
<div id="printArea">
    <dl class="row mt-5">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-8">
            <!--text-end-->
            ........
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Conductor)
        </dt>
        <dd class="col-sm-8">
            ........
            @Html.DisplayFor(model => model.Conductor)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.OpeningSong)
        </dt>
        <dd class="col-sm-8">
            ........
            @Html.DisplayFor(model => model.OpeningSong)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.OpeningPrayer)
        </dt>
        <dd class="col-sm-8">
            ........
            @Html.DisplayFor(model => model.OpeningPrayer)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SacramentSong)
        </dt>
        <dd class="col-sm-8">
            ........
            @Html.DisplayFor(model => model.SacramentSong)
        </dd>
        <dt>----- Administration of Sacrament -----</dt>
        
        <dd></dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IntermediateSong)
        </dt>
        <dd class="col-sm-8">
            ........
            @Html.DisplayFor(model => model.IntermediateSong)
        </dd>


        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Speakers)
        </dt>
        <dd class="col-sm-8">


            @foreach (var item in Model.Speakers)
            {
            <p>........ @Html.DisplayFor(modelItem => item.FullName)
            <br /></p>
               
                
            }

        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ClosingSong)
        </dt>
        <dd class="col-sm-8">
            ........
            @Html.DisplayFor(model => model.ClosingSong)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ClosingPrayer)
        </dt>
        <dd class="col-sm-8">
            ........
            @Html.DisplayFor(model => model.ClosingPrayer)
        </dd>


    </dl>
</div>
<div class="hidden-print">
    <input class="btn btn-info text-light" id="btnPrint" type="button" onclick="PrintDiv()" value="Print" />
    
    <a class="btn btn-outline-primary" asp-action="Index">Back to List</a>
</div>
